#header {
	text-align: right;
}

#main {

}

#footer {
	background: #f2f2f2; 
	border-top: 1px solid #e4e4e4;
	height: 40px;
}

#left_footer {
text-align: left;
float: right;
}

#right_footer {
text-align: right;
float: left;	
}

body {
  font-family: arial, sans-serif;
  font-size:small;
  margin: 0px;
}

li {
	display: inline;
}

a {
	text-decoration: none;
	color:#666;
}
